*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden !important;
}
nav
{
    background-color: blue;
    height: 9vh;
    width: 100%;
    position: fixed;

}
label 
{
    color: white;
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
}
.logo img
{
    max-width: 100%;
    height: 35px;
    padding: 11px 5px 5px 50px;
}
.logo a:hover
{
    background-color: none;
    color: none;
    /* transition: none; */
}
nav ul
{
    float: right;
    margin-right: 50px;
}
nav ul li
{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a
{
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a:hover
{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.checkbtn
{
    font-size: 30px;
    float: right;
    line-height: 50px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media(max-width:952px)
{
    nav ul
    {
        margin-right: 15px;
    }
    nav ul li a
    {
        font-size: 1.1em;
    }
}
@media(max-width:879px)
{
    label
    {
        padding-left: 55px;
    }
    .checkbtn
    {
        display: block;
        margin-right: 50px;
    }
    nav ul
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 8vh;
        left: -100%;
        background: #2c3e50;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 40px;
    }
    nav ul li a
    {
        font-size: 1.25em;
    }
    a:hover
    {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
}
@media(max-width:425px)
{
    label
    {
        padding-left: 25px;
    }
    .checkbtn
    {
        margin-right: 40px;
        padding-right: 10px;
        padding-top: 5px;
    }
    nav ul
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 8vh;
        left: -100%;
        background: #2c3e50;
        text-align: center;
        transition: all 0.5s;
    }
}


/**************************************************About Me************************************************/

.social-media img
{
    max-width: 100%;
    height: 30px;
}
#about-me
{
    height: 100%;
    background: url(images/space.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay-about-me
{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}
.content-about-me
{
    margin: 0;
}
.my-views
{
    text-align: center;   
    font-weight: bold;
    width: min(85%, 1024px);
    padding: 10em 0 4em 0;
    color: blanchedalmond;
    margin: 0 auto ;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.my-views h3
{
    margin: 1em 0 2.5em 0;
}
.social-media
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 0 auto;
    width: 70%;       
}
@media(min-width: 769px)
{
    #about-me
    {
        height: 100vh;
        background: url(images/intro5.jpg)no-repeat right;
        background-size: cover;
    }
    .content-about-me
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 15em 0;
    }
    .my-views
    {
        padding: 0;
        margin: 0;
        width: 50%;
    }
    .social-media
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 2em; 
        width: auto;   
    }
    .social-media li
    {
        padding: 0.3em;
    }
}


.intro {
    background: url(images/intro1.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-text { 
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 1.5rem;
    /* display: flex; */
    text-align: center;
}

.hide {
    
    /* background: black; */
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
@media(min-width: 698px){
    .intro {
        background: url(images/intro.jpg) no-repeat center;
        background-size: cover;
    }   
    .intro-text {
        font-size: 2rem;
    }
}
@media(min-width: 798px){
    .intro-text {
        font-size: 3rem;
    }
}

/*---------------------------------------Industrial Exposure-------------------------------------*/

#industrial-exposure{
    /* background: skyblue; */
    margin-top: 3rem;
}

/* #industrial-exposure h2
{
    background-color: rgb(164, 102, 223);
    padding: 0.4em;
    font-size: 1.6em;
} */
.industry-logo{
    background: url(images/industry-logo.jpg) no-repeat center;
    background-size: cover;
    height: 25vh;
    width: 100%;
}
.industry-overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.industry-overlay h2{
    font-size: 2.5rem;
    color: white;
}
.internship
{
    width: min(85%, 989px);
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
}
.internship h3
{
    /* margin-top: 1.5em; */
    font-size: 1.3em;
}
.internship h4
{
    padding: 1em;
    font-size: 1.1em;
    color: blue;
}
.internship-content
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: black 0 0 30px;
    padding: 10px;
    margin-bottom: 2.5em;
}
.internship-content img
{
    max-width: 100%;
    height: auto;
}
.internship-content p
{
    text-align: justify;
    margin: 10px 0;
    line-height: 1.34em;
}
@media(min-width: 769px)
{
    .industry-logo{
        height: 45vh;
    }
    .industry-overlay h2{
        font-size: 3.5rem;
    }
    .internship-content img
    {
        height: 300px;
    }
    .internship-content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .internship-content p
    {
        font-size: 1.1em;
        width: 60%;
    }
}
@media(min-width: 889px){
    .industry-logo{
        height: 60vh;
    }
    .industry-overlay h2{
        font-size: 4.5rem;
    }
}

/*---------------------------------------Industrial Visit--------------------------------------------*/

.industrial-visit
{
    text-align: center;
}
.industrial-visit h3
{
    font-size: 1.3em;

}
.company-images img
{
    max-width: 100%;
    height: 200px;
    margin: 1.5em;
}
@media(min-width: 769px)
{
    .company-images
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


/************************************Professional Skills**********************************************/

#skills{
    margin-top: 3rem;
    /* background: skyblue; */
    height: 100%;
}
.skills-logo{
    background: url(images/skills-logo.jpg) no-repeat center;
    background-size: cover;
    height: 25vh;
    width: 100%;
}
.skills-overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-overlay h2{
    font-size: 2.5rem;
    color: white;
}
/* #skills h2
{
    text-align: center;
    padding-top: 3rem;
} */
.skills-img
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: min(90%, 50em);
    margin: 0 auto;
    padding-bottom: 2rem;
}
.skills-img .figSkills img
{
    max-width: 100%;
    height: auto;
    display: block;
}
.figSkills
{
    float: left;
    justify-content: space-around;
    max-width: 50%;
    margin: 0;
    padding: 1.5em;
    box-sizing: border-box;
}
.figSkills .figSkillsCapt
{
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.25em;
}
@media(min-width: 769px){
    .skills-logo{
        height: 45vh;
    }
    .skills-overlay h2{
        font-size: 3.5rem;
    }
}
@media(min-width: 889px){
    .skills-logo{
        height: 60vh;
    }
    .skills-overlay h2{
        font-size: 4.5rem;
    }
}
@media(min-width: 36em)
{
    .figSkills
    {
        max-width: 20%;
        padding: 3.5em 1.5em;
    }
}


    /*********************************************Projects*********************************************/

    #projects{
        /* background: skyblue; */
        /* padding-bottom: 2rem; */
        margin-top: 3rem;
    }
    .projects-logo{
        background: url(images/projects-logo.jpeg) no-repeat center;
        background-size: cover;
        height: 25vh;
        width: 100%;
    }
    .projects-overlay{
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .projects-overlay h2{
        font-size: 2.5rem;
        color: white;
    }
    /* #projects h2 {
        background-color: blueviolet;
        padding: 0.4em;
        font-size: 1.6em;
    } */
    .project-container {
        width: min(85%, 989px);
        margin: 0 auto;
        text-align: center;
        margin-top: 1.5rem;
    }
    .project-container h3 {
        padding: 1.2em;
        color: blue;
    }
    .project-content {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: black 0 0 30px;
        padding: 10px;
        margin-bottom: 2.5em;
    }

    .project-content img {
        max-width: 100%;
        height: auto;
    }

    .project-content p {
        text-align: justify;
        margin: 10px 0;
        line-height: 1.34em;
    }
    .project-content1 {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: black 0 0 30px;
        padding: 10px;
        margin-bottom: 2.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-content1 img {
        max-width: 100%;
        height: 155px;
        padding: .5rem;
    }

    .project-content1 p {
        text-align: justify;
        margin: 10px 0;
        line-height: 1.34em;
    }
   
    @media(min-width: 769px) {
        .projects-logo{
            height: 45vh;
        }
        .projects-overlay h2{
            font-size: 3.5rem;
        }
        .project-content img {
            height: 300px;
        }

        .project-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .project-content p {
            font-size: 1.1em;
            width: 70%;
        }
    }
    @media(min-width: 889px){
        .projects-logo{
            height: 60vh;
        }
        .projects-overlay h2{
            font-size: 4.5rem;
        }
    }


    /********************************************Hobbies*********************************************/

    #hobbies
    {
        background-color: #b0e0e2;
        margin-top: 3rem;
    }
    .hobbies-logo{
        background: url(images/hobbies-logo.jpg) no-repeat center;
        background-size: cover;
        height: 25vh;
        width: 100%;
    }
    .hobbies-overlay{
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .hobbies-overlay h2{
        font-size: 2.5rem;
        color: white;
    }
    /* #hobbies h2
    {
        background-color:  #458c8f;
        box-shadow: #458c8f 0 0 10px;
        padding: 0 0 5px 0;
        font-size: 1.7em; 
    } */
    .hobbies-images
    {
        padding:1em 0;
        display:flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .hobbies-images .figHobbies
    {
        text-align: center;
        margin:auto;
        padding: 10px;
    }
    .hobbies-images .figHobbies img
    {
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: black 0 0 50px;
        /* width: 100%; */
        width: auto;
        height: 180px;
    }
    .figHobbies .figHobbiesCapt
    {
        padding-top: 0.7em;
        font-size: 1.1em;
    }
    @media(min-width: 769px)
    {
        .hobbies-logo{
            height: 45vh;
        }
        .hobbies-overlay h2{
            font-size: 3.5rem;
        }
        .hobbies-images .figHobbies img
        {
            height: 200px;
            width: auto;
        }
        .hobbies-images
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    @media(min-width: 889px){
        .hobbies-logo{
            height: 60vh;
        }
        .hobbies-overlay h2{
            font-size: 4.5rem;
        }
    }


    /*********************************************Contact Form*******************************************/

    .contact-icon img
    {
        max-width: 100%;
        height: 1.7em;
    }
    #contact-section
    {
        background: url(images/light.jpeg) no-repeat center;
        color: cornsilk !important;
        background-size: cover;
        height: 100%;
        margin-top: 3em;
    }
    .overlay-contact
    {
        background-color: rgba(0, 0, 0, 0.603);
        height: 100%;
    }
    .overlay-contact h2
    {
        padding: 0.5em;
        background-color: none;
        text-align: center;
        font-size: 2em;
        letter-spacing: 2px;
    }
    .overlay-contact p
    {
        text-align: center; 
        padding: 3% 10px;
        padding-bottom: 3%;
        letter-spacing: 1px;
    }
    .container-contact
    {
        width: min(85%, 989px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form
    {
        text-align: center;
        margin-top: 1.25em;
    }
    span
    {
        font-weight: bold;
        padding: 10px;
    }
    .contact-form
    {
        /* width: 80%; */
        margin: 0 auto;
    }
    .contact-icon
    {
        /* width: 80%; */
        margin: 0 auto;
    }
    .contact-icons
    {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0.5em;
        letter-spacing: 1.25px;
    }
    input
    {
        padding: 10px;
        margin-bottom: 1.25em;
        width: 80%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
        border-radius: 5px;
    }
    input::placeholder
    {
        color: white;
    }
    textarea
    {
        padding: 10px;
        margin-bottom: 1em;  
        width: 80%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
        border-radius: 5px;
    }
    textarea::placeholder
    {
        color: white;
    }  
    .submit
    {
        width: 50%;
        background: none;
        padding: 4px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 33px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 5px;
        border:2px solid rgb(190, 190, 190);
        color: rgb(190, 190, 190);
    }
    .submit:hover
    {
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
    }
    .copyright button
    {
        margin: 10px;
        padding: 3px;
        font-size: 1.25em;
        letter-spacing: 1px;
        border-radius: 5px;
    }
    .copyright .resume
    {
        text-align: center;
    }
    @media(min-width: 769px)
    {  
        #contact-section
        {
            background: url(images/contact.jpg) no-repeat center;
            background-size: cover;
        }          
        .container-contact
        {
            flex-direction: row;
        }
        .overlay-contact h2
        {
            padding: 0.5em;
            font-size: 2.25em;
            letter-spacing: 2px;
        }
        .overlay-contact p
        {
            padding: 0.5em;
            letter-spacing: 1.5px;
            font-size: 1.25em;
        }
        .contact-icon
        {
            width: 50%;
            position: relative;
            bottom: 60px;
            /* z-index: -1; */
        }
        input
        {
            width: 100%;
        }
        textarea
        {
            width: 100%;
        }
    }